

.sectiond {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 1px solid #ccc;
}
#shadowd{
  box-shadow: 0 3px 4px rgba(224, 224, 224, 0.1);
}

h2 {
  margin-top: 0;
  color: #333;
}

.league {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 15px;
  color: #333;
}

.league img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.league span {
  flex-grow: 1;
  margin-left: 10px;
}

.league button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.league button.unfollow {
  background-color: #dc3545;
}

.dropdown-button {
  background-color: #f7f7f7;
  color: #000;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown-content {
  display: none;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-left: auto;
  transition: transform 0.5s ease;
}

.icon.rotate {
  transform: rotate(180deg) !important;
}

.error-message {
  color: red; 
  display: none;
}

@media (max-width: 900px) {
  .search-bar input {
      width: 100%; /* Full width on smaller screens */
  }

  .league {
      font-size: 14px; /* Smaller font size for better readability */
  }

  section {
      margin: 5px; /* Reduce margin for smaller screens */
  }
}

@media (max-width: 600px) {
  .dropdown-button {
      padding: 8px 10px; /* Increase padding for touch targets */
      font-size: 16px; /* Increase font size for readability */
  }

  section {
      margin: 10px;
      padding: 10px; /* Reduce padding for smaller screens */
  }
}

.loading-spinner {
  display: none; /* Default hidden */
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px; /* Size of the spinner */
  height: 50px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Animation */
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner.visible {
  display: block; /* Show when visible class is added */
}


.app {
    background : #EEEEEE;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
