
/* Loader Styles */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #696969;
    border-top: 5px solid #a9a9a9;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.sectiond {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  #shadowd{
    box-shadow: 0 3px 4px rgba(224, 224, 224, 0.1);
  }
  
.headerd {
    text-align: center;
    padding: 1px 1px;
    background: linear-gradient(to right, #696969, #a9a9a9);
    color: white;
}

.headerd h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0px;
}

.headerd p {
    font-size: 0.9rem;
    margin-top: 1px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-card {
    text-decoration: none;
    color: inherit;
    display: block;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.blog-card img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: fit-content;
    object-fit: cover;
}

.blog-card .content {
    padding: 15px;
}

.blog-card h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: linear-gradient(to right, #a9a9a9, #696969);
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .blogs {
        grid-template-columns: 1fr;
    }
}

.source {
    display: flex;
    align-items: center;
}

.source img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.source span {
    margin: 0 5px;
}

.source p {
    margin: 0;
}
